//  CSS footer
footer {
    border: rgb(44, 224, 119) 2px solid;
    background-color: #2d4059;
    align-items: center;
    
    
    a {
    text-decoration: none;
    }

}



//  haut du footer
.footer-top {
    border: solid rebeccapurple 2px;
    color: #e5e5e5;
    background-color: #2d4059;
    display: flex;
    justify-content: space-evenly;

    
    a {
        color: #e5e5e5;
    }
}


.footer-content-size {
    width: 15vw;
    padding-left: 10px;
    position: relative;
    
    &::after {
        content: "";
        background-color: #e5e5e5;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 10px;
        left: 4px;
        z-index: 0;
    }

    a {
        font-weight: 700;
    }
}

.footer-top-icon {
    font-size: 12px;
    align-self: center;
    padding-right: 10px;
    z-index: 1;

}


.footer-top-articles {
    border:solid rgb(48, 130, 238) 2px;
    display: flex;


    i {
        color: red;
        padding-left: 1px;
    }
}

.footer-top-achats {
    border: solid 2px red;
    display: flex;


    i {
        color: red;
    }
}

.footer-top-paiement {
    border:solid rgb(238, 225, 48) 2px;
    display: flex;
    


    i {
        color: red;
    }
}

.footer-top-livraison {
    border:solid rgb(48, 238, 111) 2px;
    display: flex;
    width: 240px;


    i {
        color: red;
    }
}


//  milieu du footer

.footer-center {
    border: solid rgb(32, 97, 61) 2px;
    background-color: #e5e5e5;
}

.footer-center-liste {
    border: solid rgb(4, 13, 20) 2px;
    
    display: flex;
    justify-content: space-between;
    margin: 0 300px;
    height: 249px;
    align-items: center;
    line-height: 50px;
}

.footer-center-liste-un {
    border: solid rgb(47, 153, 240) 2px;
    // height: 207px;
}

.footer-center-liste-deux {
    border: solid rgb(236, 240, 47) 2px;
    // height: 207px;
}



//  bas du footer
.footer-bottom {
    border: solid rgb(238, 35, 160) 2px;
    background-color: #2d4059;
    color: #e5e5e5;

    ul {
        display: flex;
        justify-content: center;
    }

    a {
        color: #e5e5e5;
    }
}

.footer-bottom-ul {

    }

.footer-bottom-mentions-légales {
    margin: 0 5px;
    border-right: solid 3px #e5e5e5;
    padding-right: 5px;
    }

.footer-bottom-conditions-générales
    {

    }